apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  # make it uniq in the cluster

spec:
  selector:
    app: webapp
    releaase: '1'
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
